@import "../../styles/variables.scss";

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;

  .paginationButton {
    width: 100px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    .icon {
      fill: $background-color;
    }
  }
}
